.intro-container {
    background-color: var(--primary-purple); /* Blue background */
    background-image: url('../resources/assets/svgImages/mask-group.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    border-radius: 10px; /* Curved edges */
    padding: 1rem 2rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    gap: 1rem;
}
.intro-container p {
    max-width: 80%;
}

.up-event-container{
    padding:1rem 2rem;
    border-radius: 10px;

}
.up-events{
    text-align: center;
    padding: 10px 0px;
}

.intro-container .create-event-btn {
    background-color: white;
    color: black; /* Blue text */
    padding: 10px 15px;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-top: 10px;
}

.create-event-btn:hover {
    background-color: #f0f0f0; /* Light gray on hover */
    color: white;
}

.no-upcoming-events {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 2rem;
}