:root {
    --border-color: #e0e0e0;
}

.container {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.budget-items {
    margin-top: 2rem;
}

.budget-items-head {
    display: flex;
    justify-content: end;
    margin: 2rem 0;
}

.budget-items-head .btn-add {

    border-radius: 1.5rem;
}

.table-container {
    margin-top: 20px;
}

.table-header {
    background-color: #f5f5f5;
}

.table-cell {
    padding: 12px;
}

/* Charts layout */

.chart {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    gap: 10px;
    margin: 2rem 0;
}

.total-cost {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 1rem;
}

.max-due-root {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    min-height: 250px;
}

.max-budget {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 1rem;
}

.amount-due {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 1rem;
}

.estimated-cost {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 1rem;
}

.budget-root .budget-tab {
    margin-right: 10px;
    padding: 10px 10px 0px;
    font-weight: 300;
    font-size: clamp(16px, 4vw, 18px);
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    position: relative;
    text-transform: none;
    /* Position relative for the pseudo-element */
    transition: all 0.3s ease;
}

@media (max-width: 640px) {
    .chart {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
  }