.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .popup-content h2 {
    margin-top: 0;
  }
  
  .popup-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .popup-content button {
    margin-right: 10px;
  }

  .btn-create-event {
    background-color: #1947ee;
    color: white;
    border: 1px solid black;
    padding: 8px 10px;
    border-radius: 10px;
  }

  .btn-close-create-event {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }