.event-card {
    max-width: 400px;
    min-width: 200px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgb(200, 197, 197);
    background-color: white;
    cursor: pointer;

    .event-card-content {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 10px;
        flex-flow: column;
        padding: 20px;
    }

    .card-image {
        img {
            aspect-ratio: 2/1;
            object-fit: cover;
        }
    }

}

.event-list {
    border-radius: 10px;

    background-color: var(--secondary-purple);
    padding: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
}

.event-card:hover {
    transform: scale(1.02);
    border-color: #007bff;
    /* Change border color on hover */
}

@media (max-width: 1100px) {
    .event-list {
      grid-template-columns: repeat(2, 1fr); /* 2 items per row */
    }
  }
  
  /* For screens smaller than 600px (e.g., mobile devices) */
  @media (max-width: 800px) {
    .event-list {
      grid-template-columns: 1fr; /* 1 item per row */
    }
  }